#AssignmentHeader {
  .modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: unset;
  }
};

#AssignmentModalFooter {
  justify-content: space-between;
}

#GeneratedGroups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.generated-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  color: white;
  margin: 15px;
  .generated-group-label {
    padding-top: 10px;
    width: 100%;
    background-color: $success;
  }
  .generated-group-students {
    padding: 10px 14px 2px 14px;
    width: 100%;
    background-color: $primary;
  }
}

#GeneratedGroupsModal.isMaximized {
  max-width: unset;
  width: 100%;
  margin: 0;
  min-height: 100%;
  height: fit-content;

  .modal-content {
    border-radius: 0;
    border: none;
    #AssignmentHeader {
      border-bottom: none;
    }
    .modal-body {
      display: flex;
      align-items: center;
      justify-content: center;
      .generated-group {
        h6 {
          font-size: 1.5rem
        }
      }
    }
    #AssignmentModalFooter {
      display: none;
    }
  }
}