#ClassModalStudents {
  min-height: 50vmin;
}

#ClassModalEditFooter {
  justify-content: space-between;
  div > button {
    margin-left: 0.5rem;
  }
}

.edit-student-row {
  padding: 0 1rem;
  justify-content: center;
  .form-group {
    flex-grow: 1;
    margin-bottom: 0.5rem;
    * {
      text-align: center;
    }
  }
  button {
    margin-left: 15px;
    &:not(.btn-primary) {
      width: 40px;
    }
    height: calc(1.5em + 0.75rem + 2px);
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

#StudentsValidationGroup {
  input {
    display: none;
  }
}