.navbar {
  z-index: 1049;
}

.nav-tab {
  margin: 0px 5px;
}

#ClassListToggler, #AssignmentToggler {
  display: flex;
  align-items: center;
  h4, h5 {
    text-align: center;
  }
}

#Brand {
  display: inline-flex;
  align-items: center;
}

#CollapsibleNav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  button {
    margin-right: 12px;
  }
}

#RightSideItems {
  .octicon {
    color: $secondary;
    vertical-align: middle !important;
    cursor: pointer;
  }
}

// On screen sizes <= small size - make class name wrap to next line
@include media-breakpoint-down(sm) {
  #Brand {
    display: block;
  }
  #CollapsibleNav {
    align-items: unset;
    a, button {
      margin-bottom: 8px;
      margin-right: unset;
    }
  }
  #ClassListToggler, #AssignmentToggler {
    width: 100%;
    h4, h5 {
      width: 100%;
    }
  }

  #RightSideItems {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
