#OpenRule {
  border: none;
  * {
    border-radius: 0;
  }
  .card-body {
    padding: 0;
    .student-button-list {
      border: none;
    }
  }
  .card-footer {
    padding: 10px 0;
    button {
      width: 50%;
    }
  }
}