.student-button-list {
  div.alert {
    margin-bottom: 0;
    text-align: center;
  }
  button {
    border-radius: 0;
    width: 100%;
    display: block;
    &:focus {
      box-shadow: none;
    }
    &:not(.isActive) {
      background-color: $success;
    }
  }
}
