#SizeControls {
  width: 100%;
  .card-header, .card-footer {
    padding: 0;
    h3 {
      padding: 8px
    }
  }
  .card-footer button {
    width: 100%;
  }
  margin-bottom: 30px;
}

#SizesPreview {
  width: 100%;
}

#GroupSizesPreviewContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group-sizes-preview-group {
  display: grid;
  grid-gap: 6px;
  padding: 6px;
  margin: 10px;
  border: 1px solid $primary;
  border-radius: 3px;
}

.group-sizes-preview-student {
  background-color: $danger;
}