.rule {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  margin: 15px;
  padding: 16px 10px 8px 10px;
}

.plus-button {
  padding: 2px 10px 6px 10px;
}