$headings-font-family:Source Sans Pro;

// Custom colors
$enable-grid-classes:true;
$primary:#7F0FFF;
$secondary:#ffcc57;
$success:#420084;
$danger:#f2460d;
$info:#7ebcfa;
$warning:#ff9933;
$light:#eef0f2ce;
$dark:#857697;
$enable-gradients:false;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;