#AuthModal .modal-content {
  background-color: transparent;
  border: none;
}

.bold {
  font-weight: bold;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page {
  padding-top: 30px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

div.card-header, div.card-footer {
  text-align: center;
  color: white;
  background-color: $primary;
  h6 {
    margin-bottom: -1px;
  }
}

button h3, button h4, button h5 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  text-align: center;
}

.centered-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 30px;
}

.athletic-panel {
  width: 90%;
}

.skinny-panel {
  width: 70%;
}

.confirm-modal {
  margin-top: 30%;
}

.nav-link {
  cursor: pointer;
}

#GenerateTab {
  color: white;
  font-size: 1.2rem;
  background-color: $success;
}
#RulesTab {
  color: white;
  font-size: 1.2rem;
  background-color: $danger;
  flex: 0 0 20%;
}

.modal-title {
  pointer-events: none;
}

.modal-footer {
  justify-content: space-between;
  button {
    margin: 0px 5px;
  }
}